@model List<Product>

<h1 class="text-center">Список продуктов</h1>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddNewProduct">
    Добавить новый продукт
</button>

<!-- Modal -->
<div class="modal fade" id="AddNewProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Добавить новый продукт</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Название товара</label>
                        <input type="text" class="form-control" name="Name" aria-describedby="emailHelp" placeholder="Название">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Стоимость</label>
                        <input type="number" class="form-control" name="Cost" placeholder="Стоимость">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword2">Описание товара</label>
                        <input type="text" class="form-control" name="Description" placeholder="Описание">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" href="/Admin/AddProduct" ">Добавить</button> 
            </div>
        </div>
    </div>
</div>
<table class="table table-sm table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">№</th>
            <th scope="col">Название</th>
            <th scope="col">Цена</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var product in Model)
        {
            <tr>

                <td>@product.Id</td>
                <td class="text-left">@product.Name</td>
                <td class="text-left">@product.Cost</td>
                <td class="text-center">
                    <a class="btn btn-primary" href="#" role="button">Редактировать</a>
                </td>
                <td class="text-left">
                    <a class="btn btn-danger" href="#" role="button">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>