

    <nav class="navbar navbar-dark bg-dark ">
        <div class="container-fluid">
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                <span>Администратор</span>
            </button>
            <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Меню</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/Admin/Orders">Заказы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/Users">Пользователи</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/Roles">Роли</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/Products">Продукты</a>
                        </li>

                    </ul>
                </div>
            </div>
            <a class="navbar-brand ml-auto" href="/Home/index">Online Store</a>
            <form class="form-inline " action="/search/index">
                <input class="form-control mr-sm-2" type="text" name="query" placeholder="Искать в OnlineStore" />
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Искать</button>
            </form>
            <ul class="nav">
               
               @await Html.PartialAsync("Input")

               @await Html.PartialAsync("Registration")

                <li class="nav-item ml-2">
                    @await Component.InvokeAsync("Orders")
                </li>
            </ul>
        </div>
    </nav>
